.footer {
    background-color: $darkColour;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bpLarge) {
        padding: 4rem;
    }

    @media only screen and (max-width: $bpMedium) {
        padding: 3rem;
    }

    &__logo {
        width: 6rem;

        @media only screen and (max-width: $bpLarge) {
            width: 5rem;
        }

        @media only screen and (max-width: $bpMedium) {
            width: 4rem;
        }
    }

    &__text {
        font-size: 2rem;
        font-weight: 300;
        margin-top: 4rem;

        @media only screen and (max-width: $bpLarge) {
            font-size: 1.8rem;
            margin-top: 3rem;
        }

        @media only screen and (max-width: $bpMedium) {
            font-size: 1.5rem;
            margin-top: 2rem;
        }

        @media only screen and (max-width: $bpSmallest) {
            font-size: 1.2rem;
        }
    }
}