.gallery {
    background-color: $primaryColour;
    padding: 3rem 3rem;

    @media only screen and (max-width: $bpLargest) {
        padding: 2rem 2rem;
    }

    @media only screen and (max-width: $bpLarge) {
        padding: 1.5rem 1.5rem;
    }

    @media only screen and (max-width: $bpMedium) {
        padding: 1rem 1rem;
    }

    &__grid {
        display: grid;
        // Columns & Rows
        grid-template-columns: repeat(8, [col-start] 1fr [col-end]);
        grid-template-rows: repeat(9, [row-start] 7vw [row-end]);

        gap: 3rem;

        @media only screen and (max-width: $bpLargest) {
            gap: 2rem;   
        }

        @media only screen and (max-width: $bpLarge) {
            gap: 1.5rem;
        }

        @media only screen and (max-width: $bpMedium) {
            gap: 1rem;
        }

        @media only screen and (max-width: $bpMedium) {
            gap: 0;
        }
    }

    &__item {

        &--1 {
            grid-column: col-start 1 / col-end 3;
            grid-row: row-start 1 / row-end 3;
        }

        &--2 {
            grid-column: col-start 4 / col-end 5;
            grid-row: row-start 1 / row-end 2;
        }

        &--3 {
            grid-column: col-start 7 / col-end 8;
            grid-row: row-start 4 / row-end 5;
        }

        &--4 {
            grid-column: col-start 6 / col-end 8;
            grid-row: row-start 1 / row-end 3;
        }

        &--6 {
            grid-column: col-start 5 / col-end 6;
            grid-row: row-start 8 / row-end 9;
        }

        &--7 {
            grid-column: col-start 3 / col-end 6;
            grid-row: row-start 4 / row-end 6;
        }

        &--9 {
            grid-column: col-start 4 / col-end 4;
            grid-row: row-start 3 / row-end 3;
        }

        &--10 {
            grid-column: col-start 5 / col-end 5;
            grid-row: row-start 7 / row-end 7;
        }

        &--12 {
            grid-column: col-start 1 / col-end 2;
            grid-row: row-start 4 / row-end 7;
        }

        &--13 {
            grid-column: col-start 1 / col-end 2;
            grid-row: row-start 8 / row-end 9;
        }

        &--14 {
            grid-column: col-start 7 / col-end 8;
            grid-row: row-start 6 / row-end 9;
        }

        &--15 {
            grid-column: col-start 3 / col-end 4;
            grid-row: row-start 7 / row-end 9;
        }

        &--16 {
            grid-column: col-start 5 / col-end 5;
            grid-row: row-start 3 / row-end 3;
        }

        &--17 {
            grid-column: col-start 6 / col-end 6;
            grid-row: row-start 7 / row-end 7;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: all .3s;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-size: 2rem;
        color: $darkColour;

        @media only screen and (max-width: $bpMedium) {
            font-size: 1.7rem;
        }
    }

    // https://www.youtube.com/watch?v=qm0IfG1GyZU
}