.team {
    background-color: $darkColour;
    padding: 8rem 0;

    @media only screen and (max-width: $bpLargest) {
        padding: 8rem 5rem;
    }

    @media only screen and (max-width: $bpLarge) {
        padding: 8rem 5rem;
    }

    @media only screen and (max-width: $bpMedium) {
        padding: 6rem 5rem;
    }

    @media only screen and (max-width: $bpSmall) {
        padding: 6rem 3rem;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        @media only screen and (max-width: $bpLarge) {
            align-items: center;
        }

        @media only screen and (max-width: $bpMedium) {
            flex-direction: column;
        }
    }

    &__image {
        width: 50%;
        margin-top: 5rem;
        border-radius: 1rem;
        overflow: hidden;

        @media only screen and (max-width: $bpMedium) {
            width: 75%;
        }

        @media only screen and (max-width: $bpSmall) {
            width: 100%;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__content {

        @media only screen and (max-width: $bpMedium) {
            margin: 0;
            width: 100%;
        }

        &-header {
            font-size: 6rem;
            color: $primaryColour;
        }

        &-subheader {
            font-size: 3.5rem;
            font-weight: 300;

            @media only screen and (max-width: $bpLarge) {
                font-size: 2.5rem;
            }

            @media only screen and (max-width: $bpMedium) {
                font-size: 2rem;
            }
        }

        &-text {
            font-size: 2.5rem;
            margin-top: 2rem;
            font-weight: 300;

            @media only screen and (max-width: $bpLarge) {
                font-size: 2rem;
                margin-top: 1.4rem;
            }
    
            @media only screen and (max-width: $bpMedium) {
                font-size: 1.8rem;
            }
        }        
    }
}