<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto+Mono:ital,wght@0,400;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
        rel="stylesheet">

    <!-- Linear Icon Font SVG Embedder -->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">

    <title>East London Realtors | Results That Move You</title>
</head>

<body>

    <!-- SVG Linear Gradient -->
    <!-- <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
        <linearGradient id="my-cool-gradient" x2="1" y2="1">
            <stop offset="0%" stop-color="#ffde32" />
            <stop offset="50%" stop-color="#ffde32" />
            <stop offset="100%" stop-color="#ffffff" />
        </linearGradient>
    </svg> -->

    <header class="hero" id="home">
        <nav class="navbar top" id="navbar">
            <div class="navbar__menu">
                <div class="navbar__menu-line-1"></div>
                <div class="navbar__menu-line-2"></div>
                <div class="navbar__menu-line-3"></div>
            </div>

            <ul class="navbar__list">
                <li><a href="#home" class="navbar__link navlink">home</a></li>
                <li><a href="#about" class="navbar__link navlink">about</a></li>
                <li><img src="img/logo_transparent_primary.png" alt="LogoLight" class="navbar__logo"></li>
                <li><a href="#team" class="navbar__link navlink">team</a></li>
                <li><a href="#contact" class="navbar__link navlink">contact</a></li>
            </ul>
        </nav>

        <nav class="respnavbar top" id="respnavbar">

            <div class="respnavbar__close"></div>

            <ul class="respnavbar__list">
                <li><img src="img/logo_transparent_primary.png" alt="LogoLight" class="respnavbar__logo"></li>
                <li><a href="#home" class="respnavbar__link navlink">home</a></li>
                <li><a href="#about" class="respnavbar__link navlink">about</a></li>
                <li><a href="#team" class="respnavbar__link navlink">team</a></li>
                <li><a href="#contact" class="respnavbar__link navlink">contact</a></li>
            </ul>

        </nav>

        <div class="hero__content">
            <h1 class="hero__header">
                East London Realtors
            </h1>

            <h3 class="hero__subheader">
                Results That Move You
            </h3>

            <a href="#about" class="hero__btn mt-lg">Read More</a>
        </div>
    </header>

    <!-- About -->
    <section class="about" id="about">

        <div class="container">

            <h1 class="about__header">About Us</h1>

            <p class="about__text mt-md">
                Your leading Rentals Specialists with 9 years of hands on experience in the East London Property
                Market.
            </p>
            <p class="about__text mt-md">
                We are passionate about People, Property and Placing them together to achieve optimum satisfaction.
            </p>
            <p class="about__text mt-md">
                Our fields of expertise include:
            </p>
            <ul class="about__list mt-md">
                <li class="about__list-item">Property Rentals</li>
                <li class="about__list-item">Property Sales</li>
                <li class="about__list-item">Property Valuations</li>
                <li class="about__list-item">Property Maintenance Facilitation</li>
            </ul>
            <p class="about__text mt-md">
                We provide diligent service to our valued Property Landlords and Sellers, adhering to a strict Code of
                Ethics with an indepth knowledge of South African Legislation that Regulates the Property
                Industry.
            </p>
            <p class="about__text mt-md">
                Our understanding of rental demand, rental values, tenant selection and care of
                property is based on 9 years of experience in the Rental Sector. This is achieved partly through
                strict vetting processes and ensuring that applicants tick all relevant boxes in order to be granted
                approval.
            </p>
            <p class="about__text mt-md">
                We engage with previous landlords for reference checks and confirm employment, or
                ownership of business entity, in which case mandated signatory would sign personal surety.
            </p>
            <p class="about__text mt-md">
                Whether you are letting your home for the first time, or are an experienced investment
                landlord, your property is safe in the hands of East London Realtors.
            </p>
            <p class="about__text mt-md">
                On a Sole Mandate to sell a property, we endeavour to enlist as many tools as are
                available to market the property in the right place, at the right price, to achieve results within a
                opportunistic time-frame, preventing the property from going stale on the market.
            </p>
            <p class="about__text mt-md">
                For multi-listing options, we are members of the Professional Property Network group in East
                London, which is an exclusive group of Principals in Real Estate who meet once a month and
                share listings to achieve optimum results.
            </p>
            <p class="about__text mt-md">
                Registered members of:
                <a href="http://www.ieasa.co.za/pub/home" class="about__link" target="_blank">IEASA</a>,
                <a href="https://www.eaab.org.za/" class="about__link" target="_blank">EAAB</a>,
                <a href="https://www.tpn.co.za/group" class="about__link" target="_blank">TPN</a>,
                <a href="https://www.saptg.co.za/" class="about__link" target="_blank">SAPTG</a>,
                <a href="https://www.privateproperty.co.za/" class="about__link" target="_blank">Private Property</a>,
                <a href="https://www.property24.com/" class="about__link" target="_blank">Prop24</a>, and
                <a href="https://www.rentbay.co.za/" class="about__link" target="_blank">RENTBAY</a>.
            </p>

        </div>

    </section>

    <!-- Team -->
    <section class="team" id="team">

        <div class="container">

            <div class="team__container">

                <div class="team__content">
                    <h1 class="team__content-header">Sandy Smal</h1>
                    <h3 class="team__content-subheader">Professional Practitioner in Real Estate</h3>
                    <p class="team__content-text">
                        Let me take the headache out of letting and managing your property! I have 9 years
                        experience in
                        Real Estate, specializing in Residential, Commercial and Industrial Letting in and around East
                        London.
                        Property Evaluations and Sales have been a significant part of my career in East London as well.
                        I am a qualified Principal Property Practitioner and have recently opened my own firm, East
                        London
                        Realtors (Pty) Ltd and I am excited for a successful future, based on the vast experience and
                        knowledge
                        I have gained over the last 10 years.
                    </p>
                    <p class="team__content-text">
                        I enjoy meeting with Landlords and Sellers, to discuss their property portfolios and any new
                        developments that might have arisen, to see how best I can be of service to you.
                    </p>
                    <p class="team__content-text">
                        On a personal level, my family is hugely important to me and I love to spend time with them. We
                        love the
                        outdoors and my sons and I have enjoyed many hours on the golf course together, among other
                        activities
                        the family have enjoyed, taking advantage of what living at the coast has to offer.
                    </p>
                </div>

                <div class="team__image">
                    <img src="img/sandy.jpg" alt="SandyImg" class="team__img">
                </div>

                <!-- Let me take the headache out of letting and managing your property! I have +- 10 years experience in
                Real Estate, specializing in Residential, Commercial and Industrial Letting in and around East London.
                Property Evaluations and Sales have been a significant part of my career in East London as well.
                I am a qualified Principal Property Practitioner and have recently opened my own firm, East London
                Realtors (Pty) Ltd and I am excited for a successful future, based on the vast experience and knowledge
                I have gained over the last 10 years.

                I enjoy meeting with Landlords and Sellers, to discuss their property portfolios and any new
                developments that might have arisen, to see how best I can be of service to you.

                On a personal level, my family is hugely important to me and I love to spend time with them. We love the
                outdoors and my sons and I have enjoyed many hours on the golf course together, among other activities
                the family have enjoyed, taking advantage of what living at the coast has to offer. -->

            </div>
        </div>

    </section>

    <!-- Contact -->
    <section class="contact" id="contact">

        <div class="container">
            <div class="contact__container">

                <div class="contact__content">
                    <h3 class="contact__content-header">Request Callback</h3>
                    <form action="/" class="contact__form" method="POST">
                        <div class="contact__form-control">
                            <label for="name" class="contact__form-label">Name</label>
                            <input type="text" id="name" name="name" class="contact__form-input">
                            <p class="contact__form-validation-error" id="invalid_name">Invalid Name</p>
                        </div>
                        <div class="contact__form-control">
                            <label for="email" class="contact__form-label">Email Address</label>
                            <input type="text" id="email" name="email" class="contact__form-input">
                            <p class="contact__form-validation-error" id="invalid_email">Invalid Email</p>
                        </div>
                        <div class="contact__form-control">
                            <label for="phone" class="contact__form-label">Contact Number</label>
                            <input type="text" id="phone" name="phone" class="contact__form-input" maxlength="10">
                            <p class="contact__form-validation-error" id="invalid_number">Invalid Number</p>
                        </div>
                        <div class="contact__submit">
                            <input type="submit" value="Submit" id="submit" class="contact__form-btn">
                            <div class="email__success">Message Sent Successfully</div>
                            <div class="email__fail">An Error Occurred</div>
                        </div>
                    </form>
                </div>

                <div class="contact__info">
                    <div class="contact__method">
                        <div class="contact__svg">
                            <svg class="contact__icon">
                                <use xlink:href="#lnr-phone-handset"></use>
                            </svg>
                        </div>
                        <div class="contact__details">
                            <p class="contact__text"><a href="tel:+27834091364" class="contact__link">083
                                    409 1364</a></p>
                        </div>
                    </div>

                    <div class="contact__method">
                        <div class="contact__svg">
                            <svg class="contact__icon">
                                <use xlink:href="#lnr-envelope"></use>
                            </svg>
                        </div>
                        <div class="contact__details">
                            <p class="contact__text"><a href="mailto:sandy@eastlondonrealtors.co.za"
                                    class="contact__link">sandy@eastlondonrealtors.co.za</a></p>
                        </div>
                    </div>

                    <div class="contact__method">
                        <div class="contact__svg">
                            <svg class="contact__icon">
                                <use xlink:href="#lnr-map-marker"></use>
                            </svg>
                        </div>
                        <div class="contact__details">
                            <p class="contact__text">
                                <a href="https://www.google.com/maps/place/13+Greenwood+St,+Berea,+East+London,+5241/@-32.990751,27.9074973,17z/data=!3m1!4b1!4m5!3m4!1s0x1e66e033cf1cb6d5:0x8c5c55ebb1df2999!8m2!3d-32.990751!4d27.909686"
                                    class="contact__link" target="_blank">13 Greenwood Road
                                    Berea East London 5241</a></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- Gallery -->
    <section class="gallery">

        <div class="gallery__grid">

            <figure class="gallery__item gallery__item--1">
                <img src="img/gal-1.png" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--2">
                <img src="img/gal-2.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--3">
                <img src="img/gal-3.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--4">
                <img src="img/gal-4.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--6">
                <img src="img/gal-6.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--7">
                <img src="img/gal-7.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--9">
                <img src="img/gal-9.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--10">
                <img src="img/gal-10.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--12">
                <img src="img/gal-12.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--13">
                <img src="img/gal-13.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--14">
                <img src="img/gal-14.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--15">
                <img src="img/gal-15.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--16">
                <img src="img/gal-16.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

            <figure class="gallery__item gallery__item--17">
                <img src="img/gal-17.jpg" alt="GalleryImg&" class="gallery__img">
            </figure>

        </div>

    </section>

    <!-- Footer -->
    <footer class="footer">
        <img src="img/logo_transparent_primary.png" alt="FooterLogo" class="footer__logo">
        <p class="footer__text">&copy; Copyright 2020 East London Realtors. Site by <span
                class="primary-text">MDDT</span>.</p>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

<script type="text/javascript">

    // Create navbar variable
    const navbar = document.getElementById("navbar");
    const responsiveNavbar = document.getElementById("respnavbar");
    // Initialise scrolled variable
    let scrolled = false;

    // Now we target the scroll action
    window.onscroll = function () {
        if (window.pageYOffset > 100) {
            // remove the .top class once we have scrolled more than 100px
            navbar.classList.remove("top");
            // responsiveNavbar.classList.remove("top");
            // Check if a scroll has happened
            if (!scrolled) {
                // remove the navbar
                navbar.style.transform = "translateY(-10rem)";

                // now bring it back
                setTimeout(function () {
                    navbar.style.transform = "translateY(0rem)";
                    // set scrolled to true
                    scrolled = true;
                }, 200);
            }

        } else {
            // add the .top class back to the navbar
            navbar.classList.add("top");
            // set scrolled back to false
            scrolled = false;
        }
    }

    // Detect a click on the responsive menu
    document.addEventListener('click', function (event) {
        // Make sure we have the correct element
        if (event.target.matches('.navbar__menu')) {
            navbar.classList.toggle("hide-element");
            responsiveNavbar.classList.toggle("transform-menu-show");
        } else if (event.target.matches('.respnavbar__close')) {
            navbar.classList.toggle("hide-element");
            responsiveNavbar.classList.toggle("transform-menu-show");
        } else if (event.target.matches('.respnavbar__link')) {
            navbar.classList.toggle("hide-element");
            responsiveNavbar.classList.toggle("transform-menu-show");
        } else {
            return;
        }
    }, false);

    // Some smooth scrolling
    $(".navlink, .hero__btn").on("click", function (event) {
        // Check that this element has an id
        if (this.hash !== "") {
            event.preventDefault();

            const id = this.hash;

            $('html, body').animate({
                scrollTop: $(id).offset().top - $(navbar).height(),
            }, 800);
        }
    });

    // Submit contact form
    $('form').on('submit', (event) => {
        event.preventDefault();

        let flag = true;

        // Validate input
        if (!validateName($('#name').val())) {
            $('#invalid_name').show();
            $('#name').css('border', '1px solid #cc0000');
            flag = false;
        }

        if (!validateMail($('#email').val())) {
            $('#invalid_email').show();
            $('#email').css('border', '1px solid #cc0000');
            flag = false;
        }

        if (!validateContactNumber($('#phone').val())) {
            $('#invalid_number').show();
            $('#phone').css('border', '1px solid #cc0000');
            flag = false;
        }

        if (flag) {
            const name = $('#name').val().trim();
            const email = $('#email').val().trim();
            const phone = $('#phone').val();

            const data = {
                name,
                email,
                phone
            }

            $.post('/', data, function (res) {
                if (res.response === 'fail') {
                    $('.email__fail').fadeIn();

                    setTimeout(() => {
                        $('.email__fail').fadeOut();
                    }, 5000);
                } else {

                    $('#name').val('');
                    $('#email').val('');
                    $('#phone').val('');

                    $('.email__success').fadeIn();

                    setTimeout(() => {
                        $('.email__success').fadeOut();
                    }, 5000);


                }
            });
        }

    });

    // Validate name
    function validateName(name) {
        if (/^[a-zA-Z ]+$/.test(name)) {
            return true;
        }

        return false;
    }

    // Validate email
    function validateMail(email) {
        if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)) {
            return true;
        }

        return false;
    }

    // Validate contact number
    function validateContactNumber(number) {
        if (/^\d+$/.test(number)) {
            return true;
        }

        return false;
    }

</script>

</html>