*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Jost", sans-serif;
  color: #fff;
  line-height: 1.6; }

.about {
  background-color: #ffde32;
  padding: 8rem 0;
  font-weight: 300; }
  .about__header {
    font-size: 5rem;
    color: #333; }
  @media only screen and (max-width: 75em) {
    .about {
      padding: 8rem 5rem; } }
  @media only screen and (max-width: 62.5em) {
    .about {
      padding: 8rem 5rem; } }
  @media only screen and (max-width: 48em) {
    .about {
      padding: 6rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 6rem 3rem; } }
  .about__text {
    font-size: 2.5rem;
    color: #333; }
    @media only screen and (max-width: 62.5em) {
      .about__text {
        font-size: 2rem; } }
    @media only screen and (max-width: 48em) {
      .about__text {
        font-size: 1.8rem; } }
  .about__list {
    font-size: 2.5rem;
    color: #333;
    font-weight: 400;
    margin-left: 3rem; }
    @media only screen and (max-width: 62.5em) {
      .about__list {
        font-size: 2rem; } }
    @media only screen and (max-width: 48em) {
      .about__list {
        font-size: 1.8rem; } }
  .about__link:visited, .about__link:link {
    color: #333;
    transition: all .4s;
    display: inline-block; }
    .about__link:visited:hover, .about__link:link:hover {
      text-decoration: transparent;
      transform: translateY(-1px); }

.contact {
  background-color: #fff;
  padding: 12rem 0; }
  @media only screen and (max-width: 75em) {
    .contact {
      padding: 12rem 5rem; } }
  @media only screen and (max-width: 62.5em) {
    .contact {
      padding: 10rem 5rem; } }
  @media only screen and (max-width: 48em) {
    .contact {
      padding: 8rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .contact {
      padding: 8rem 3rem; } }
  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    @media only screen and (max-width: 48em) {
      .contact__container {
        flex-direction: column; } }
  .contact__content {
    color: #333;
    width: 50%;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 48em) {
      .contact__content {
        width: 100%;
        padding: 0; } }
    .contact__content-header {
      font-size: 4rem;
      color: #333; }
  .contact__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem; }
    @media only screen and (max-width: 48em) {
      .contact__info {
        width: 100%;
        margin: 0;
        margin-top: 3rem; } }
  .contact__method {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0; }
    @media only screen and (max-width: 48em) {
      .contact__method {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 3rem 0 0;
        padding: 0; } }
  .contact__svg {
    padding: 3rem;
    background-color: #333;
    display: inline-block;
    border-radius: 50%;
    margin-right: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .contact__svg {
        padding: 2rem; } }
    @media only screen and (max-width: 48em) {
      .contact__svg {
        padding: 3rem;
        margin: 0;
        margin-bottom: 2rem; } }
  .contact__icon {
    width: 5rem;
    height: 5rem;
    fill: #ffde32; }
    @media only screen and (max-width: 62.5em) {
      .contact__icon {
        width: 4rem;
        height: 4rem; } }
    @media only screen and (max-width: 48em) {
      .contact__icon {
        width: 5rem;
        height: 5rem; } }
  .contact__text {
    font-size: 2rem;
    color: #333; }
    @media only screen and (max-width: 75em) {
      .contact__text {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 48em) {
      .contact__text {
        font-size: 2rem; } }
    @media only screen and (max-width: 28.125em) {
      .contact__text {
        font-size: 1.5rem; } }
  .contact__link:link, .contact__link:visited {
    display: inline-block;
    color: #333;
    transition: all .3s; }
  .contact__link:hover, .contact__link:active {
    text-decoration: none;
    background-color: #ffde32; }
  .contact__form-label {
    display: block;
    margin: 1rem 0 .5rem;
    font-size: 1.8rem; }
  .contact__form-input {
    width: 100%;
    padding: .5rem;
    height: 4rem;
    border: 1px solid #b3b3b3;
    font-family: inherit;
    font-size: 1.5rem; }
    .contact__form-input:focus {
      outline-color: #ffde32; }
  .contact__form-btn {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    font-family: "Jost", sans-serif;
    color: #333;
    border: 1px solid #333;
    background-color: transparent;
    transition: all .3s;
    outline: none; }
    .contact__form-btn:hover {
      background-color: #ffde32;
      border: 1px solid #ffde32; }
  .contact__form-validation-error {
    font-size: 1.5rem;
    color: #cc0000;
    display: none; }
  .contact__submit {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center; }

.email__success, .email__fail {
  font-size: 1.5rem;
  width: 50%;
  padding: 1rem;
  border-radius: .2rem;
  display: none; }
  @media only screen and (max-width: 62.5em) {
    .email__success, .email__fail {
      font-size: 1.2rem; } }

.email__success {
  background-color: rgba(69, 182, 69, 0.37);
  color: green; }

.email__fail {
  background-color: #d838385d;
  color: #cc0000; }

.footer {
  background-color: #333;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .footer {
      padding: 4rem; } }
  @media only screen and (max-width: 48em) {
    .footer {
      padding: 3rem; } }
  .footer__logo {
    width: 6rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__logo {
        width: 5rem; } }
    @media only screen and (max-width: 48em) {
      .footer__logo {
        width: 4rem; } }
  .footer__text {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 4rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__text {
        font-size: 1.8rem;
        margin-top: 3rem; } }
    @media only screen and (max-width: 48em) {
      .footer__text {
        font-size: 1.5rem;
        margin-top: 2rem; } }
    @media only screen and (max-width: 28.125em) {
      .footer__text {
        font-size: 1.2rem; } }

.gallery {
  background-color: #ffde32;
  padding: 3rem 3rem; }
  @media only screen and (max-width: 75em) {
    .gallery {
      padding: 2rem 2rem; } }
  @media only screen and (max-width: 62.5em) {
    .gallery {
      padding: 1.5rem 1.5rem; } }
  @media only screen and (max-width: 48em) {
    .gallery {
      padding: 1rem 1rem; } }
  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(8, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(9, [row-start] 7vw [row-end]);
    gap: 3rem; }
    @media only screen and (max-width: 75em) {
      .gallery__grid {
        gap: 2rem; } }
    @media only screen and (max-width: 62.5em) {
      .gallery__grid {
        gap: 1.5rem; } }
    @media only screen and (max-width: 48em) {
      .gallery__grid {
        gap: 1rem; } }
    @media only screen and (max-width: 48em) {
      .gallery__grid {
        gap: 0; } }
  .gallery__item--1 {
    grid-column: col-start 1 / col-end 3;
    grid-row: row-start 1 / row-end 3; }
  .gallery__item--2 {
    grid-column: col-start 4 / col-end 5;
    grid-row: row-start 1 / row-end 2; }
  .gallery__item--3 {
    grid-column: col-start 7 / col-end 8;
    grid-row: row-start 4 / row-end 5; }
  .gallery__item--4 {
    grid-column: col-start 6 / col-end 8;
    grid-row: row-start 1 / row-end 3; }
  .gallery__item--6 {
    grid-column: col-start 5 / col-end 6;
    grid-row: row-start 8 / row-end 9; }
  .gallery__item--7 {
    grid-column: col-start 3 / col-end 6;
    grid-row: row-start 4 / row-end 6; }
  .gallery__item--9 {
    grid-column: col-start 4 / col-end 4;
    grid-row: row-start 3 / row-end 3; }
  .gallery__item--10 {
    grid-column: col-start 5 / col-end 5;
    grid-row: row-start 7 / row-end 7; }
  .gallery__item--12 {
    grid-column: col-start 1 / col-end 2;
    grid-row: row-start 4 / row-end 7; }
  .gallery__item--13 {
    grid-column: col-start 1 / col-end 2;
    grid-row: row-start 8 / row-end 9; }
  .gallery__item--14 {
    grid-column: col-start 7 / col-end 8;
    grid-row: row-start 6 / row-end 9; }
  .gallery__item--15 {
    grid-column: col-start 3 / col-end 4;
    grid-row: row-start 7 / row-end 9; }
  .gallery__item--16 {
    grid-column: col-start 5 / col-end 5;
    grid-row: row-start 3 / row-end 3; }
  .gallery__item--17 {
    grid-column: col-start 6 / col-end 6;
    grid-row: row-start 7 / row-end 7; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all .3s; }
  .gallery__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .gallery__text {
    font-size: 2rem;
    color: #333; }
    @media only screen and (max-width: 48em) {
      .gallery__text {
        font-size: 1.7rem; } }

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  .hero__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .hero__header {
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: 1rem;
    color: #ffde32; }
    @media only screen and (max-width: 62.5em) {
      .hero__header {
        font-size: 6rem;
        letter-spacing: .8rem; } }
    @media only screen and (max-width: 48em) {
      .hero__header {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero__header {
        font-size: 4rem; } }
  .hero__subheader {
    font-size: 2.5rem;
    font-weight: 300; }
    @media only screen and (max-width: 62.5em) {
      .hero__subheader {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 48em) {
      .hero__subheader {
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero__subheader {
        font-size: 1.8rem; } }
  .hero__btn:link, .hero__btn:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1rem 3rem;
    border: 1px solid #ffde32;
    background-color: transparent;
    color: #ffde32;
    text-decoration: none;
    transition: all .3s; }
    @media only screen and (max-width: 48em) {
      .hero__btn:link, .hero__btn:visited {
        font-size: 1.5rem;
        padding: .8rem 2.5rem;
        margin-top: 2.2rem; } }
  .hero__btn:hover, .hero__btn:active {
    background-color: #ffde32;
    color: #333; }

.navbar {
  height: 10rem;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s; }
  @media only screen and (max-width: 62.5em) {
    .navbar {
      height: 8rem; } }
  @media only screen and (max-width: 48em) {
    .navbar {
      height: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      justify-content: flex-end; } }
  .navbar__menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.2rem;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    display: none; }
    .navbar__menu-line-1 {
      height: 2px;
      width: 3rem;
      background-color: #ffde32; }
    .navbar__menu-line-2 {
      height: 2px;
      width: 2rem;
      background-color: #ffde32;
      transition: all .5s; }
    .navbar__menu-line-3 {
      height: 2px;
      width: 1rem;
      background-color: #ffde32;
      transition: all .5s; }
    @media only screen and (max-width: 37.5em) {
      .navbar__menu {
        display: flex; } }
    .navbar__menu:hover .navbar__menu-line-2,
    .navbar__menu:hover .navbar__menu-line-3 {
      width: 3rem; }
  .navbar__list {
    display: flex;
    align-items: center;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .navbar__list {
        display: none; } }
  .navbar__link:link, .navbar__link:visited {
    display: inline-block;
    text-decoration: none;
    padding: 2rem 4rem;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 300;
    transition: all .3s; }
    @media only screen and (max-width: 62.5em) {
      .navbar__link:link, .navbar__link:visited {
        font-size: 2rem; } }
    @media only screen and (max-width: 48em) {
      .navbar__link:link, .navbar__link:visited {
        font-size: 1.8rem;
        padding: 2rem 3rem; } }
  .navbar__link:hover, .navbar__link:active {
    color: #ffde32;
    transform: translateY(-2px); }
  .navbar__logo {
    width: 6rem; }
    @media only screen and (max-width: 62.5em) {
      .navbar__logo {
        width: 5rem; } }
    @media only screen and (max-width: 48em) {
      .navbar__logo {
        width: 4rem; } }

.top {
  background-color: transparent; }

.respnavbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .5s;
  transform: translateY(-100%);
  background-color: rgba(51, 51, 51, 0.95);
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem; }
  .respnavbar__close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 2rem;
    right: 2rem;
    transition: all .2s; }
    .respnavbar__close:before, .respnavbar__close:after {
      content: '';
      position: absolute;
      top: 1.5rem;
      height: 2px;
      width: 100%;
      background-color: #ffde32; }
    .respnavbar__close:before {
      transform: rotate(45deg); }
    .respnavbar__close:after {
      transform: rotate(-45deg); }
    .respnavbar__close:hover {
      transform: scale(1.1); }
  .respnavbar__logo {
    width: 6rem; }
  .respnavbar__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2rem 0; }
  .respnavbar__link:link, .respnavbar__link:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 0;
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    transition: all .3s; }
  .respnavbar__link:hover, .respnavbar__link:active {
    color: #ffde32;
    transform: translateY(-2px); }

.team {
  background-color: #333;
  padding: 8rem 0; }
  @media only screen and (max-width: 75em) {
    .team {
      padding: 8rem 5rem; } }
  @media only screen and (max-width: 62.5em) {
    .team {
      padding: 8rem 5rem; } }
  @media only screen and (max-width: 48em) {
    .team {
      padding: 6rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .team {
      padding: 6rem 3rem; } }
  .team__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .team__container {
        align-items: center; } }
    @media only screen and (max-width: 48em) {
      .team__container {
        flex-direction: column; } }
  .team__image {
    width: 50%;
    margin-top: 5rem;
    border-radius: 1rem;
    overflow: hidden; }
    @media only screen and (max-width: 48em) {
      .team__image {
        width: 75%; } }
    @media only screen and (max-width: 37.5em) {
      .team__image {
        width: 100%; } }
  .team__img {
    display: block;
    width: 100%; }
  @media only screen and (max-width: 48em) {
    .team__content {
      margin: 0;
      width: 100%; } }
  .team__content-header {
    font-size: 6rem;
    color: #ffde32; }
  .team__content-subheader {
    font-size: 3.5rem;
    font-weight: 300; }
    @media only screen and (max-width: 62.5em) {
      .team__content-subheader {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 48em) {
      .team__content-subheader {
        font-size: 2rem; } }
  .team__content-text {
    font-size: 2.5rem;
    margin-top: 2rem;
    font-weight: 300; }
    @media only screen and (max-width: 62.5em) {
      .team__content-text {
        font-size: 2rem;
        margin-top: 1.4rem; } }
    @media only screen and (max-width: 48em) {
      .team__content-text {
        font-size: 1.8rem; } }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem; }
  @media only screen and (max-width: 75em) {
    .container {
      padding: 0; } }

.header-1 {
  font-size: 8rem;
  font-weight: 300;
  letter-spacing: 1rem; }
  .header-1--primary {
    color: #ffde32; }

.header-2 {
  font-size: 5rem;
  font-weight: 300; }

.header-3 {
  font-size: 3rem;
  font-weight: 300; }

.header-4 {
  font-size: 2rem;
  font-weight: 300; }

.mt-lg {
  margin-top: 4rem; }

.mt-md {
  margin-top: 2rem; }

.mt-sm {
  margin-top: 1.5rem; }

.primary-text {
  color: #ffde32; }

.hide-element {
  display: none; }

.transform-menu-show {
  transform: translateY(0); }
